/*
  ----------------
  Typography
  ----------------
*/

body {
  font-family: $font-family;
  color: $tertiary-color;
  font-size: 16px;

  @media #{$sp} {
    font-size: 14px;
  }
}

.bold-ttl {
  position: absolute;
  left: -99999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.font-noto {
  font-family: "Noto Sans KR",
  "맑은 고딕",
  malgun gothic,
  "돋움",
  Dotum,
  sans-serif;
}