{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "work" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-navigation" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="work" class="work">
  <div class="work-container container">
    <div class="work-ttlarea">    
      <h2 class="work-ttlarea__ttl bold-ttl">Here are my works.</h2>
      <div class="work-ttlarea__ttlimg animate-fade-right">
        <img src="/assets/img/work/ttl-pc.svg" alt="Here are my works." class="pc-only">
        <img src="/assets/img/work/ttl-sp.svg" alt="Here are my works." class="sp-only">
      </div>
      <p class="work-item animate-fade-right">
        @ EMKA (2019-2020)
      </p>
      <p class="work-para animate-fade-right">
        이메일 마케팅 자동화 소프트웨어 배리의 프론트엔드 개발자로 근무하였습니다.
      </p>
      <div class="work-tools animate-fade-right">
        <p class="work-tools__ttl">skills</p>
        <ul class="work-tools__list">
          <li class="work-tools__item">React</li>
          <li class="work-tools__item">Redux</li>
          <li class="work-tools__item">Typescript</li>
          <li class="work-tools__item">HTML</li>
          <li class="work-tools__item">CSS</li>
          <li class="work-tools__item">Git</li>
        </ul>
      </div>
      <div class="work-vary animate-fade-up">
        <a href="/work/vary/" class="work-vary__link">
          <img src="/assets/img/work/item-13-logo.png" alt="배리" class="work-vary__logo" />
        </a>
      </div>
      <p class="work-item animate-fade-right">
        @ Tsunagaru Inc. (2018-2019)
      </p>
      <p class="work-para animate-fade-right">
        음식점, 패션 브랜드, 비영리 단체, 부동산 중개, 의료 서비스 등 다양한 분야의 클라이언트들을 위해 웹사이트를 구축하였습니다.
      </p>
      <div class="work-tools animate-fade-right">
        <p class="work-tools__ttl">skills</p>
        <ul class="work-tools__list">
          <li class="work-tools__item">Adobe</li>
          <li class="work-tools__item">Sketch</li>
          <li class="work-tools__item">HTML</li>
          <li class="work-tools__item">CSS</li>
          <li class="work-tools__item">JavaScript</li>
          <li class="work-tools__item">Git</li>
        </ul>
      </div>
    </div>{# work-ttlarea #}
    <ul class="work-grid">
      <li class="work-grid__item animate-fade-up">
        <a href="/work/rancho/" class="work-grid__link">
          <img src="/assets/img/work/item-01-logo.png" alt="Rancho Sombrero" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/mahna/" class="work-grid__link">
          <img src="/assets/img/work/item-02-logo.png" alt="mahna mahna" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/nagaoka/" class="work-grid__link">
          <img src="/assets/img/work/item-03-logo.png" alt="Nagaoka Kosakusho" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/obc/" class="work-grid__link">
          <img src="/assets/img/work/item-04-logo.png" alt="Original Bag Collection" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/trocco/" class="work-grid__link">
          <img src="/assets/img/work/item-05-logo.png" alt="trocco" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/gimbap/" class="work-grid__link">
          <img src="/assets/img/work/item-06-logo.png" alt="Gimbap Chat" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/jci/" class="work-grid__link">
          <img src="/assets/img/work/item-07-logo.png" alt="Yokosuka JCI" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/ieerabi/" class="work-grid__link">
          <img src="/assets/img/work/item-08-logo.png" alt="ie-erabi.net" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/pcp/" class="work-grid__link">
          <img src="/assets/img/work/item-09-logo.png" alt="PCP" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/clipla/" class="work-grid__link">
          <img src="/assets/img/work/item-10-logo.png" alt="CLIPLA" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/bprost/" class="work-grid__link">
          <img src="/assets/img/work/item-11-logo.png" alt="B-Prost" class="work-grid__logo">
        </a>
      </li>
      <li class="work-grid__item animate-fade-up">
        <a href="/work/kibera/" class="work-grid__link">
          <img src="/assets/img/work/item-12-logo.png" alt="KiBERA" class="work-grid__logo">
        </a>
      </li>
    </ul>{# work-grid #}
  </div>{# container #}
</section>{# section-work #}

{% endblock %}