{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "Original Bag Collection" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="obc" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">Original Bag Collection</h3>
      <div class="work-detail__ttlimg animate-fade-up">
        <img src="/assets/img/work/ttl-obc-pc.svg" alt="Original Bag Collection" class="pc-only">
        <img src="/assets/img/work/ttl-obc-sp.svg" alt="Original Bag Collection" class="sp-only">
      </div>
      <a href="https://bag-collection.com" target="_blank" class="work-detail__link animate-fade-up">visit on website</a>
      <div class="work-detail__imgarea animate-fade-left sp-only">
        <img src="/assets/img/work/mockup-04.jpg" alt="Original Bag Collection">
      </div>
      <p class="work-detail__para animate-fade-up">다양한 디자인의 대량주문 제작 가방을 판매하는 오리지널 백 콜렉션 웹사이트 제작. <br class="pc-only">자주 재사용되는 스타일 관리와 폼 제작에 중점을 두었습니다.</p>
      <p class="work-detail__role animate-fade-up"><strong>role&nbsp;&nbsp;&nbsp;</strong>서브 페이지 프론트엔드 개발</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem animate-fade-up">온라인 쇼핑몰</li>
        <li class="work-detail__tagitem animate-fade-up">스타일시트 관리</li>
        <li class="work-detail__tagitem animate-fade-up">폼 제작</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea animate-fade-left pc-only">
      <img src="/assets/img/work/mockup-04.jpg" alt="Original Bag Collection">
    </div>
  </div>{# container #}
</section>{# section-rancho #}

{% endblock %}