/*
  ----------------
  svg animations
  ----------------
*/

#logo {
  &:hover {
    @media #{$pc} {
      .cls-1 {
        transform: translateX(5%);
      }
      .cls-2 {
        transform: translateX(-5%);
      }
    }
  }
}

#logo-svg {
  width: 30px;
  height: 31px;
  @media #{$sp} {
    width: 26px;
    height: 26px;
  }

  .cls-1,
  .cls-2 {
    transition: all ease-in-out .2s;
  }
}

#scroll {
  &:hover {
    .circle {
      transform: translateY(-2%);
    }
    .arrow {
      transform: translateY(10%);
    }
  }
}

#scroll-svg {
  .circle,
  .arrow {
    transition: all ease-in-out .2s;
  }
}