{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "about me" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "about-me" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="about" class="about">
  <div class="about-container container">
    <div class="about-ttlarea">
      <h2 class="about-ttlarea__ttl bold-ttl">Hi, I’m a front-end developer who can design.</h2>
      <div class="about-ttlarea__ttlimg">
        <img src="/assets/img/about/ttl-pc.svg" alt="Hi, I’m a front-end developer who can design." class="pc-only">
        <img src="/assets/img/about/ttl-sp.svg" alt="Hi, I’m a front-end developer who can design." class="sp-only">
      </div>
    </div>{# about-ttlarea #}
    <div class="about-content">
      <div class="about-content__img">
        <img src="/assets/img/about/img.jpg" alt="">
      </div>
      <ul class="about-content__list">
        <li class="about-content__item">
          <p class="title bold-ttl">2011 - 2017</p>
          <img src="/assets/img/about/subttl-01.svg" alt="" class="svg">
          <p class="para">대학에서 방송영상과 멀티미디어를 전공했습니다.</p>
        </li>
        <li class="about-content__item">
          <p class="title bold-ttl">2018 - 2019</p>
          <img src="/assets/img/about/subttl-02.svg" alt="" class="svg">
          <p class="para">졸업 후 일본 웹 에이전시에서 웹 퍼블리셔로 일을 했습니다. 디자인과 개발 중 한쪽을 골라 더 깊은 길로 가 보는 게 어떻겠냐는 상사의 제안을 듣고 개발자가 되기로 결심했습니다.</p>
        </li>
        <li class="about-content__item">
          <p class="title bold-ttl">2019 -</p>
          <img src="/assets/img/about/subttl-03.svg" alt="" class="svg">
          <p class="para">한국으로 돌아온 현재 개인 프로젝트를 진행하고 있는 동시에 프론트엔드 개발자로 구직중입니다.</p>
        </li>
        <li class="about-content__item">
          <p class="title bold-ttl">INTERESTS</p>
          <img src="/assets/img/about/subttl-04.svg" alt="" class="svg">
          <p class="para">새로운 언어 배우기</p>
        </li>
        <li class="about-content__item">
          <p class="title bold-ttl">GOALS</p>
          <img src="/assets/img/about/subttl-05.svg" alt="" class="svg">
          <p class="para">도움이 되는 웹 서비스를 꾸준히 만들기</p>
        </li>
      </ul>
    </div>{# about-content #}
  </div>{# container #}
</section>{# section-about #}

{% endblock %}