// Breakpoint

$sp: "all and (max-width : 999px)";
$strictsp: "all and (max-width : 680px)";
$pc: "all and (min-width: 1000px)";

// Font-family

$font-family: "Lato",
"Noto Sans KR",
"맑은 고딕",
malgun gothic,
"돋움",
Dotum,
"roboto",
"Helvetica Neue",
Helvetica,
Arial,
sans-serif;

// Color

$primary-color: #47F6CB;

$secondary-color: #4263EB;

$tertiary-color: #121111;

// Container

$container: 1000px;

// Grid

$gutter: 20px;
$small-gutter: 10px;

