// Breakpoint

$sp: "all and (max-width : 768px)";

$pc: "all and (min-width: 769px)";

// Font-family

$font-family: "roboto", "Helvetica Neue", Helvetica, Arial, "맑은 고딕", malgun gothic, "돋움", Dotum, sans-serif;

// Color

$primary-color: #000;

$secondary-color: #ccc;

$tertiary-color: #eee;

// Container

$container: 1020px;

// Grid

$gutter: 20px;
$small-gutter: 10px;

