{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "마이리얼트립" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="mrt" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">마이리얼트립</h3>
      <div class="work-detail__ttlimg animate-fade-up">
        <img src="/assets/img/work/ttl-mrt-pc.svg" alt="마이리얼트립" class="pc-only">
        <img src="/assets/img/work/ttl-mrt-sp.svg" alt="마이리얼트립" class="sp-only">
      </div>
      <a href="https://www.myrealtrip.com" target="_blank" class="work-detail__link animate-fade-up">visit website</a>
      <div class="work-detail__imgarea animate-fade-left sp-only">
        <img src="/assets/img/work/mockup-14.jpg" alt="마이리얼트립">
      </div>
      <p class="work-detail__para animate-fade-up">여행 플랫폼 마이리얼트립에서 프론트엔드 개발자로 근무하고 있습니다. 여행자와 파트너를 위한 웹 서비스 제작을 담당하며, 여행의 시작부터 끝까지 함께할 수 있는 트래블 슈퍼 앱을 만들어 가기 위해 노력하고 있습니다.</p>
      <p class="work-detail__role animate-fade-up"><strong>role&nbsp;&nbsp;&nbsp;</strong>프론트엔드 개발</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem animate-fade-up">여행</li>
        <li class="work-detail__tagitem animate-fade-up">플랫폼 커머스</li>
        <li class="work-detail__tagitem animate-fade-up">웹 프론트엔드</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea animate-fade-left pc-only">
      <img src="/assets/img/work/mockup-14.jpg" alt="마이리얼트립">
    </div>
  </div>{# container #}
</section>{# section-mrt #}

{% endblock %}