{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "blog" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "blog-navigation" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="blog" class="blog">
  <div class="blog-container container">
    <div class="blog-ttlarea">
      <h2 class="blog-ttlarea__ttl bold-ttl">I’ve got some thoughts.</h2>
      <div class="blog-ttlarea__ttlimg">
        <img src="/assets/img/blog/ttl-pc.svg" alt="I’ve got some thoughts." class="pc-only">
        <img src="/assets/img/blog/ttl-sp.svg" alt="I’ve got some thoughts." class="sp-only">
      </div>
    </div>{# blog-ttlarea #}
    <ul class="blog-list noselect">
      <li class="blog-list__item">
        <a href="#" class="blog-list__link">
          {# <div class="blog-list__label blog-list__label--dev">개발</div> #}
          <h3 class="title">다중 언어를 지원하는 웹사이트를 구축할 때 생각할 점들</h3>
          <p class="date">26 JUNE 2019</p>
          <p class="detail">포트폴리오 사이트를 만들면서 세 가지 언어를 모두 지원할 수 있으면 좋겠다는 생각이 들었다.  하지만 생각만큼 구현하는 것은 쉽지 않았다. 삽질의 반복 끝에 해결책이 의외로 간단했다는 게 함정이다.</p>
        </a>
      </li>
      <li class="blog-list__item">
        <a href="#" class="blog-list__link">
          {# <div class="blog-list__label blog-list__label--design">디자인</div> #}
          <h3 class="title">모든 프로젝트에 피그마를 썼으면 좋겠다</h3>
          <p class="date">26 JUNE 2019</p>
          <p class="detail">웹디자인 툴로서 어도비사의 포토샵만을 쓰던 시절. 나는 무거운 psd파일의 압박과 코딩 친화적이지 못한 인터페이스로 인해 늘 답답함을 느꼈다. 그러다가 스케치를 만났을 때 느낀 해방감! 하지만 여전히 문제는 남아 있었다.</p>
        </a>
      </li>
      <li class="blog-list__item">
        <a href="#" class="blog-list__link">
          {# <div class="blog-list__label blog-list__label--dev">개발</div> #}
          <h3 class="title">회사 밖에서 개인 프로젝트를 지속하는 이유</h3>
          <p class="date">26 JUNE 2019</p>
          <p class="detail">디자이너가 되기 위해 시작했던 UI/UX 디자인 프로젝트가 이제는 전방위적인 프로덕트 디자인 프로젝트가 되었다. 진로는 개발자로 바꾸었는데 왜 이 프로젝트를 계속하고 있는 걸까?</p>
        </a>
      </li>
    </ul>
  </div>{# container #}
</section>{# section-blog #}

{% endblock %}