{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "김밥챗" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="rancho" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">김밥챗</h3>
      <div class="work-detail__ttlimg animate-fade-up">
        <img src="/assets/img/work/ttl-gimbap-pc.svg" alt="김밥챗" class="pc-only">
        <img src="/assets/img/work/ttl-gimbap-sp.svg" alt="김밥챗" class="sp-only">
      </div>
      <a href="https://www.gimbapchat.com" target="_blank" class="work-detail__link noselect animate-fade-up">visit website</a>
      <div class="work-detail__imgarea animate-fade-left sp-only">
        <img src="/assets/img/work/mockup-06.jpg" alt="김밥챗">
      </div>
      <p class="work-detail__para animate-fade-up">한국어를 공부하는 외국인들을 위한 회화 연습 챗봇을 기획하고 있습니다. 현재 뉴스레터 서비스를 운영중이며 추후 챗봇 개발을 목표로 사이드 프로젝트를 지속하고 있습니다.</p>
      <p class="work-detail__role animate-fade-up"><strong>role&nbsp;&nbsp;&nbsp;</strong>프로젝트 리더 및 개발자</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem animate-fade-up">한국어 교육</li>
        <li class="work-detail__tagitem animate-fade-up">웹앱 개발</li>
        <li class="work-detail__tagitem animate-fade-up">프로젝트 매니징</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea animate-fade-left pc-only">
      <img src="/assets/img/work/mockup-06.jpg" alt="김밥챗">
    </div>
  </div>{# container #}
</section>{# section-rancho #}

{% endblock %}