<footer class="footer noselect">
  <div class="container">
    <div class="footer-social">
      <a href="https://github.com/blocktobody" target="_blank" class="footer-social__link"><img src="https://cdn1.iconfinder.com/data/icons/logotypes/32/github-256.png" alt=""></a>
      <a href="https://www.linkedin.com/in/danbi-lee-7469061ab/" target="_blank" class="footer-social__link"><img src="https://cdn1.iconfinder.com/data/icons/social-media-circle-7/512/Circled_Linkedin_svg-256.png" alt=""></a>
    </div>
    <div class="footer-wrapper">
      <div class="footer-contact">
        <a href="mailto:blocktobody@gmail.com" class="footer-contact__item">blocktobody@gmail.com</a>
        <a href="tel:+81-10-4503-5219" class="footer-contact__item">+81-10-4503-5219</a>
      </div>
      <p class="footer-copyright">Copyright © 2021 Danbi Lee</p>
    </div>
  </div>
</footer>