<meta charset="UTF-8">
<meta name="viewport" content="width=device-width">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="keywords" content="">
<meta name="description" content="This website is a front-end developer portfolio of Danbi Lee. From block to body, I build up and make things happen.{% if description %}{{ description }}{% else %}{% endif %}">
<meta name="author" content="Danbi Lee">
<meta name="format-detection" content="telephone=no">
<title>Danbi Lee | {% if title %}{{ title }}{% endif %}</title>

<!-- Favicons -->
<link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="/assets/img/favicon/safari-pinned-tab.svg" color="#4263eb">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Open Graph data -->
<meta property="og:title" content="Danbi Lee">
<meta property="og:description" content="I build up and make things happen.{% if description %}{{ description }}{% else %}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="https://blocktobody.com">
<meta property="og:image" content="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fk.kakaocdn.net%2Fdn%2FkwCzj%2FbtqwAHPB29z%2F9kanDGvkqbJybC932Fkdj1%2Fimg.jpg">
<meta property="og:image:width" content="1200px">
<meta property="og:image:height" content="650px">
<meta property="og:site_name" content="a front-end developer portfolio of Danbi Lee">

<link href="https://fonts.googleapis.com/css?family=Lato|Noto+Sans+KR&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/assets/css/main.css?ver=1.05">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RNKYYLC77K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RNKYYLC77K');
</script>