{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "Nagaoka Kosakusho" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="nagaoka" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">Nagaoka Kosakusho</h3>
      <div class="work-detail__ttlimg">
        <img src="/assets/img/work/ttl-nagaoka-pc.svg" alt="Nagaoka Kosakusho" class="pc-only">
        <img src="/assets/img/work/ttl-nagaoka-sp.svg" alt="Nagaoka Kosakusho" class="sp-only">
      </div>
      <a href="http://nagaoka-kosakusho.com" target="_blank" class="work-detail__link">visit on website</a>
      <div class="work-detail__imgarea sp-only">
        <img src="/assets/img/work/mockup-03.jpg" alt="Nagaoka Kosakusho">
      </div>
      <p class="work-detail__para">60년 이상의 경력을 자랑하는 수도관 시공 전문점 나가오카 공작소의 공식 웹사이트 제작. 에이전시가 자체 개발한 워드프레스 테마를 적용하였습니다.</p>
      <p class="work-detail__role"><strong>role&nbsp;&nbsp;&nbsp;</strong>전 페이지 프론트엔드 개발</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem">시공사</li>
        <li class="work-detail__tagitem">반응형 웹</li>
        <li class="work-detail__tagitem">워드프레스 테마</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea pc-only">
      <img src="/assets/img/work/mockup-03.jpg" alt="Nagaoka Kosakusho">
    </div>
  </div>{# container #}
</section>{# section-rancho #}

{% endblock %}