{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "PCP" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="pcp" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">PCP</h3>
      <div class="work-detail__ttlimg">
        <img src="/assets/img/work/ttl-pcp-pc.svg" alt="PCP" class="pc-only">
        <img src="/assets/img/work/ttl-pcp-sp.svg" alt="PCP" class="sp-only">
      </div>
      <a href="http://pcp.tsunagaru.biz/" target="_blank" class="work-detail__link">visit on website</a>
      <div class="work-detail__imgarea sp-only">
        <img src="/assets/img/work/mockup-09.jpg" alt="PCP">
      </div>
      <p class="work-detail__para">퍼스널 트레이닝 업체 PCP의 공식 웹사이트 제작. <br class="pc-only">CSS 그리드와 반응형 폰트 사이즈를 활용하여 더욱 인터랙티브한 반응형 웹을 구현하고자 했습니다.</p>
      <p class="work-detail__role"><strong>role&nbsp;&nbsp;&nbsp;</strong>메인 페이지 프론트엔드 개발</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem">트레이닝 업체</li>
        <li class="work-detail__tagitem">CSS 그리드</li>
        <li class="work-detail__tagitem">인터랙티브</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea pc-only">
      <img src="/assets/img/work/mockup-09.jpg" alt="PCP">
    </div>
  </div>{# container #}
</section>{# section-rancho #}

{% endblock %}