{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "CLIPLA" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="clipla" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">CLIPLA</h3>
      <div class="work-detail__ttlimg animate-fade-up">
        <img src="/assets/img/work/ttl-clipla-pc.svg" alt="CLIPLA" class="pc-only">
        <img src="/assets/img/work/ttl-clipla-sp.svg" alt="CLIPLA" class="sp-only">
      </div>
      <a href="https://clipla.jp" target="_blank" class="work-detail__link animate-fade-up">visit website</a>
      <div class="work-detail__imgarea animate-fade-left sp-only">
        <img src="/assets/img/work/mockup-10.jpg" alt="CLIPLA">
      </div>
      <p class="work-detail__para animate-fade-up">의료 전문 데이터 서비스 CLIPLA EYE의 웹사이트와 모기업 CLIPA의 공식 웹사이트를 자바스크립트 템플릿 Nunjucks를 활용해 멀티 사이트 형태로 리뉴얼했습니다.</p>
      <p class="work-detail__role animate-fade-up"><strong>role&nbsp;&nbsp;&nbsp;</strong>전 페이지 마크업 코딩</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem animate-fade-up">의료 서비스</li>
        <li class="work-detail__tagitem animate-fade-up">멀티 사이트</li>
        <li class="work-detail__tagitem animate-fade-up">Nunjucks</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea animate-fade-left pc-only">
      <img src="/assets/img/work/mockup-10.jpg" alt="CLIPLA">
    </div>
  </div>{# container #}
</section>{# section-rancho #}

{% endblock %}