{% extends "layout/default.njk" %}

{# Custom SEO tags, leave blank to apply the default values #}
{% set title = "Rancho Sombrero" %}
{% set description = "" %}
{% set keywords = "" %}

{# Page settings and also body class #}
{% set page = "work-single" %}

{# Custom tags before </head> #}
{% block customHead %}
{% endblock %}

{# Custom tags before </body> #}
{% block customJs %}  
{% endblock %}

{# Main content #}
{% block content %}

<section id="rancho" class="work-detail">
  <div class="work-detail__container container">
    <div class="work-detail__txtarea">
      <h3 class="work-detail__ttl bold-ttl">Rancho Sombrero</h3>
      <div class="work-detail__ttlimg animate-fade-up">
        <img src="/assets/img/work/ttl-rancho-pc.svg" alt="Rancho Sombrero" class="pc-only">
        <img src="/assets/img/work/ttl-rancho-sp.svg" alt="Rancho Sombrero" class="sp-only">
      </div>
      <a href="https://ranchosombrero.com.au/" target="_blank" class="work-detail__link animate-fade-up">visit on website</a>
      <div class="work-detail__imgarea animate-fade-left sp-only">
        <img src="/assets/img/work/mockup-01.jpg" alt="Rancho Sombrero">
      </div>
      <p class="work-detail__para animate-fade-up">호주의 멕시칸 푸드트럭 란초 솜브레로의 웹사이트 제작.<br>사진 자료를 풍부하게 활용하여 기존의 단조로웠던 사이트를 리디자인 및 퍼블리시 했습니다.</p>
      <p class="work-detail__role animate-fade-up"><strong>role&nbsp;&nbsp;&nbsp;</strong>디자인 및 프론트엔드 개발 디렉터</p>
      <ul class="work-detail__taglist noselect">
        <li class="work-detail__tagitem animate-fade-up">푸드트럭</li>
        <li class="work-detail__tagitem animate-fade-up">리디자인</li>
        <li class="work-detail__tagitem animate-fade-up">웹 퍼블리싱</li>
      </ul>
    </div>{# work-detail__txtarea #}
    <div class="work-detail__imgarea animate-fade-left pc-only">
      <img src="/assets/img/work/mockup-01.jpg" alt="Rancho Sombrero">
    </div>
  </div>{# container #}
</section>{# section-rancho #}

{% endblock %}